<ion-view view-title="Favoritos">
  <ion-content>


    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="x in favs" class="item-avatar">
        <img src="img/products/{{x.img}}">
        <h2>{{x.name}}</h2>
        <p>{{x.description}}</p>
        <ion-option-button class="button-assertive" ng-click="delete(x.id)">
          <i class="icon ion-close"></i>
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="show(x.id)">
          ver
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
