<ion-view view-title="Inicio">
  <ion-content>
    <ul class="list">
        <a class="item" href="#/tab/inicio/esencia">
          <span class="energized">Esencia</span> <span class="balanced">Mandarina</span>
        </a>
        <a class="item" href="#/tab/inicio/tradicion">
          <span class="energized">Tradición</span> <span class="balanced">Mandarina</span>
        </a>
        <a class="item" href="#/tab/inicio/historia">
          <span class="energized">Historia</span> <span class="balanced">Mandarina</span>
        </a>
        <a class="item" href="#/tab/inicio/manufactura">
          <span class="energized">Manufactura</span> <span class="balanced">Mandarina</span>
        </a>
        <a class="item" href="#/tab/inicio/comercio">
          <span class="energized">Comercio</span> <span class="balanced">Online</span>
        </a>
    </ul>

    <div class="card subscribe">
      <div class="item item-text-wrap">
        <h2 class="text-left">¿QUIERES SER LA <b class="energized">PRIMERA</b> EN SABERLO TODO?</h2>
      </div>
      <div class="item item-text-wrap">Déjanos tu correo electrónico para recibir las novedades y promociones</div>
      <div class="item item-input">
        <input type="text" placeholder="Correo">
        <button class="button button-assertive">Suscribirse</button>
      </div>
    </div>
  </ion-content>
</ion-view>