<ion-view view-title="Contacto">
  <ion-content>
		<div class="list card">
			<a href="tel: 0376715000" class="item item-icon-left">
				<i class="icon ion-ios-telephone energized"></i>
				<span class="balanced">Llamar</span>
			</a>

			<a href="mailto:mandarinacalzado.online@gmail.com?Subject=Apps To Go" class="item item-icon-left">
				<i class="icon ion-email energized"></i>
				<span class="balanced">Correo</span>
			</a>

			<a href="#/tab/contact/map" class="item item-icon-left">
				<i class="icon ion-map energized"></i>
				<span class="balanced">Mapa</span>
			</a>

			<a ng-click="openBrowser('http://calzadomandarina.com/')" class="item item-icon-left">
				<i class="icon ion-ios-world energized"></i>
				<span class="balanced">Página web</span>
			</a>
		</div>

		<div class="card contact-info">

			<div class="item item-text-wrap">

				<img src="img/isotipo-naranja.svg" alt="">

				<p>
					Somos punto directo de fábica
				</p>
				<p>
					Calzado para dama
				</p>

				<p>
					<i class="icon ion-ios-telephone"></i>
					037-6715000
				</p>
				<p>
					<i class="icon ion-social-whatsapp"></i>
					(+57) 301 7897 932
				</p>
				<p>
					<i class="icon ion-ios-location"></i>
					Calle 19 # 17 - 27
				</p>
				<p>
					Bucaramanga. Santander. Colombia
				</p>
				<p>
					<i class="icon ion-email"></i>
					mandarinacalzado.online@gmail.com
				</p>
			</div>
		</div>
  </ion-content>
</ion-view>
