<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<div class="bar bar-footer has-tabs bar-balanced">
  <!-- <div class="button-bar social-bar">
    <button class="button button-icon" ng-click="openBrowser('http://www.facebook.com')"><i class="icon ion-social-facebook"></i><span style="font-size: 10px; color: #ff901a">/mandarinacalzado</span></button>
    <button class="button button-icon" ng-click="openBrowser('http://www.instagram.com')"><i class="icon ion-social-instagram"></i><span style="font-size: 10px; color: #ff901a">@mandarinacalzado</span></button>
  </div> -->
  <div class="button-bar social-bar">
    <button class="button button-icon icon-left" ng-click="openBrowser('http://www.facebook.com')"><i class="icon ion-social-facebook"></i><span style="font-size: 10px;">/mandarinacalzado</span></button>
    <button class="button button-icon icon-left" ng-click="openBrowser('http://www.instagram.com')"><i class="icon ion-social-instagram-outline"></i><span style="font-size: 10px;">@mandarinacalzado</span></button>
  </div>
</div>
    
<ion-tabs class="tabs-icon-bottom tabs-balanced tabs-color-active-energized">

  <!-- Inicio Tab -->
  <ion-tab title="Inicio" icon-off="logo-blanco" icon-on="logo-blanco" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Tienda Tab -->
  <ion-tab title="Tienda" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/store">
    <ion-nav-view name="tab-store"></ion-nav-view>
  </ion-tab>

  <!-- Contacto Tab -->
  <ion-tab title="Contacto" icon-off="ion-ios-telephone-outline" icon-on="ion-ios-telephone" href="#/tab/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
