<ion-view view-title="Esencia" id="comerciomandarina">
	<ion-content class="has-footer has-subfooter">

		<img src="img/comercio-1.jpg" alt="" class="header-img" style="height: 150px;">

		<div class="card">
			<div class="item item-text-wrap">
				<h2 class="title">Comercio <span class="energized">Online</span></h2>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Te ofrecemos la mejor opción en comercio online en calzado para dama; Envíos a toda Colombia</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-divider">
				DETAL
			</div>
			<div class="item item-text-wrap">
				<p>Aplica el precio de lista (publicado en web). Compras de 1 a 3 pares. un mínimo de 1 par hasta un máximo de 3 pares, sin importar, referencia, talla o color.</p>

				<p>Disponibilidad inmediata, de acuerdo a inventario.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-divider">
				PACK
			</div>
			<div class="item item-text-wrap">
				<p>Aplica un 30% de descuento al precio de lista (publicado en web), para compras  desde 4 pares en adelante sin importar, referencia, talla o color.</p>

				<p>Disponibilidad inmediata, de acuerdo a inventario.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-divider">
				MAYOR
			</div>
			<div class="item item-text-wrap">
				<p>Aplica un 40% de descuento al precio de lista (publicado en web), para compras  desde 12 pares en adelante, mínimo 2 series de 6 pares c/u, en el mismo modelo, material y color, solo varia la numeración.</p>

				<p>Disponibilidad inmediata, de acuerdo a inventario.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-divider">
				DISTRIBUIDOR
			</div>
			<div class="item item-text-wrap">
				<p>Aplica un 50% de descuento al precio de lista (publicado en la web), para compras desde 48 pares en adelante, mínimo 6 series de 8 pares c/u, en el mismo modelo, material y colorm solo caria la numeración.</p>

				<p>Esta categoría es sobre pedido, tiempo de entrega 30 días Calendario a partir del momento del pago del 100% del Pedido.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Todas als compras tienen el envío GRATIS. Para el SUR del País (Colombia) se negocia el valor del flete dependiendo la cantidad de producto
				</p>
			</div>
		</div>

	</ion-content>
</ion-view>