<ion-view view-title="Esencia" id="esenciamandarina">
	<ion-content class="has-footer has-subfooter">
		<div class="card">
			<div class="item item-text-wrap">
				<h2 class="title">Esencia <span class="energized">Mandarina</span></h2>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Mandarina se proyecta en la belleza de la mujer, su estilo y la pasión por lo que hace.</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/esencia-1.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				EL CALZADO
			</div>
			<div class="item item-text-wrap">
				<p>Mandarina se descubre a cada instante, evoluciona y trasciende junto a la mujer proactiva y dinámica, la cual busca el balance perfecto al desempeñarse en su trabajo, que le permita conservar su feminidad, su carácter y resalte su belleza en los diferentes ámbitos a los que se enfrenta.</p>

				<p>Nuestro deseo es producir calzado de alta calidad para la mujer sofisticada, siempre como una de las principales inspiraciones para MANDARINA, con diseño exclusivo y gran preocupación por el confort , somos una marca que desarrolla colecciones a partir de tendencias de moda.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap" style="background: url(img/esencia-2.jpg); background-size: cover; background-position: top right;">
				<p>
					<i><b class="energized">Cuidamos en detalle la creación de nuestros zapatos para mujer.</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Nuestro objetivo es simple: adaptarnos a las necesidades y deseos de la mujer de hoy. Queremos entender su vida y su feminidad, que es más rica, más libre, más desinhibida.</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/esencia-3.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				FEMINIDAD
			</div>
			<div class="item item-text-wrap">
				<p>Mandarina se inspira en la mujer, mujer que no es una niña, ni una mujer fatal, sino mujeres alegres, ligeras, emotivas, nostálgicas, rebeldes y seductoras. Porque las mujeres pueden ser todas estas cosas.</p>

				<p>El calzado es algo más que un objeto, refleja nuestro estado de ánimo, son una prenda importante para lucir la ropa del día, la que contamos para encarar bien el día, ya sea en el trabajo, en una fiesta o en una cita romántica con nuestro chico, necesitamos sentirnos bien con nosotros mismos.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-divider item-text-wrap">
				<p>
					<i><b>Diseño y manufactura de alta calidad 100% hecho en Colombia</b></i>
				</p>
			</div>
			<div class="item item-text-wrap">
				<p>Calzado Mandarina tiene sus instalaciones administrativas y punto de fábrica ubicados en la ciudad de Bucaramanga, el corazón de la moda en Colombia. Nuestra empresa es un nido de talento, ideas, manos de artesanos hábiles y tecnología de avanzada para manufacturar moda de alta calidad. Calzado Mandarina crea un universo especial y mágico donde las mujeres lo son aún más, gracias a la alegría de sus diseños, la calidad alcanzada y al amor plasmado en cada pieza elaborada.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/esencia-4.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				NUESTRAS <span class="energized">PERSONAS</span>
			</div>
			<div class="item item-text-wrap">
				<p>La gran fortaleza de Calzado Mandarina es el invaluable recurso humano con el que contamos, artesanos de más de 25 años de experiencia en la manufactura de zapatos para dama, algunos de ellos con más de 20 años de servicio en Calzado Mandarina, permitiéndonos lograr altos estándares de calidad en el proceso productivo, basados en la experiencia y el conocimiento de los parámetros de producción en Mandarina.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/esencia-5.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				NUESTRA <span class="energized">FÁBRICA</span>
			</div>
			<div class="item item-text-wrap">
				<p>Disponemos de una fábrica con tecnología de vanguardia adecuada para la producción de zapatos para mujer en diferentes volúmenes. Ubicados en la ciudad de Bucaramanga, Colombia, nuestra infraestructura es el legado de una visión integral como empresa y marca, pensada y lograda con un constante trabajo con el gran objetivo de contar con las condiciones ideales para manufacturar un zapato que es toda una experiencia para la mujer.</p>
			</div>
		</div>
	</ion-content>
</ion-view>