<ion-view view-title="Nuestra historia">
	<ion-content class="has-footer has-subfooter">
		<div class="card">
			<div class="item item-text-wrap">
				<h2 class="title">Estilo, moda y Manufactura de calidad desde <span class="energized">1987</span>.</h2>
			</div>
		</div>

		<div class="card">
			<div class="item item-divider">
				1987
			</div>
			<div class="item item-text-wrap">
				<p>Constitucion de BELLALI SPORT.</p>
			</div>

			<div class="item item-divider">
				1999
			</div>
			<div class="item item-text-wrap">
				<p>Constitución de la Empresa Fabrica de <b class="energized">Calzado</b> <b class="balanced">Mandarina</b>.</p>
			</div>

			<div class="item item-divider">
				2001
			</div>
			<div class="item item-text-wrap">
				<p>Se realiza la primera exportación, país de destino Costa Rica.</p>
			</div>

			<div class="item item-divider">
				2003
			</div>
			<div class="item item-text-wrap">
				<p>Nuevos mercados de exportación. País Ecuador</p>
			</div>

			<div class="item item-divider">
				2004
			</div>
			<div class="item item-text-wrap">
				<p>Se inicia el proceso de registro de Marca y nombre comercial</p>
			</div>

			<div class="item item-divider">
				2005
			</div>
			<div class="item item-text-wrap">
				<p>Se obtiene el registro por 10 años del nombre comercial Fábrica de <b class="energized">Calzado</b> <b class="balanced">Mandarina</b>.</p>
				<p>Participación dentro del programa Piloto del BID para la creación de Comunidades Virtuales Empresariales con el respaldo de la Cámara de Comercio de Bucaramanga.</p>
				<p>Firma y adhesión al programa Global Compact liderado por las naciones unidas.</p>
			</div>

			<div class="item item-divider">
				2006
			</div>
			<div class="item item-text-wrap">
				<p>Nuevos mercados de exportación. País Panama</p>
			</div>

			<div class="item item-divider">
				2007
			</div>
			<div class="item item-text-wrap">
				<p>La empresa es invitada a participar en el programa Expopyme de Proexport Colombia, programa que busca acompañar y orientar a las empresas potenciales manufactureras a definir su oferta exportable y establecer los mercados de penetración y las estratégias de internacionalización.</p>
				<p>Se realizá el rediseño de la identidad corporativa, conservando la marca Mandarina, buscando renovar la imagen percivida por los clientes buscando proyectar un producto que evoluciona con las tendencias del mercado y una marca con una imagen más internacional, preparandose para la incursión en nuevos mercados de exportación.</p>
			</div>

			<div class="item item-divider">
				2008
			</div>
			<div class="item item-text-wrap">
				<p>Se concluye con éxito el programa Expopyme, recibiendo de Proexport la certificación como empresa con potencial exportador dentro del sector manufacturero de calzado lo que le permite en adelante participar de proyectos de fomento a las exportaciones.</p>
			</div>

			<div class="item item-divider">
				2009
			</div>
			<div class="item item-text-wrap">
				<p>Nuevo mercado de exportación Venezuela</p>
				<p>Se establece la alianza de representación comercial para la marca mandarina con la empresa MyM de Ecuador, para iniciar el proceso de consolidación de mercado en dicho país.</p>
			</div>

			<div class="item item-divider">
				2010
			</div>
			<div class="item item-text-wrap">
				<p>Certificación del personal en Competencial Laborales a cargo del SENA, seccional Santander.</p>
				<p>Se establece alianza para la maquila de la marca Clover para el mercado venezolano.</p>
			</div>

			<div class="item item-divider">
				2011
			</div>
			<div class="item item-text-wrap">
				<p>Participación en la Feria Internacional SMOTA en la ciudad de Miami.</p>
			</div>

			<div class="item item-divider">
				2015
			</div>
			<div class="item item-text-wrap">
				<p>Actualización con Procolombia con el seminario Preparese para Exportar.</p>
				<p>Formación de la Alta Gerencia en Gobierno famiiar para el crecimiento empresarial</p>
			</div>

			<div class="item item-divider">
				2017
			</div>
			<div class="item item-text-wrap">
				<p>Cambio de identidad Corporativa. <b class="balanced">MANDARINA</b> <b class="energized">Handmaking</b>.</p>
				<p>Formación de la Alta Gerencia en Gobierno famiiar para el crecimiento empresarial</p>
			</div>

		</div>

	</ion-content>
</ion-view>