<ion-view view-title="Manufactura">
	<ion-content class="has-footer">
		<div class="card">
			<div class="item">
				<h2 class="title item-text-wrap">Manufactura <span class="energized">Mandarina</span></h2>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Inspirados por la modernidad, enraizados en la habilidad de nuestros artesanos</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/manufactura-1.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				DISEÑO
			</div>
			<div class="item item-text-wrap">
				<p>Para alcanzar el alto estándar de <b class="balanced">MANDARINA</b> llevamos inicialmente con sumo cuidado la escogencia de los materiales y materias primas, basados en la oferta que existe en el mercado y cumpliendo los parámetros establecidos en la etapa de diseño. Para cada nuevo diseño, realizamos el molde patrón de corte, el cual, es probado en la horma patrón, luego, continúa un montaje de prueba fabricando un par de calzado muestra, el cual permitirá realizar la comprobación del patrón de corte y efectuar ajustes que sean necesarios. Si es aprobada la muestra inicial, se concluye escalando la serie según la moldura patrón, que va desde la talla 34 hasta la 40,obteniendo los moldes de corte.</p>
				<br>
				<p>En <b class="balanced">MANDARINA</b> organizamos y clasificamos todos los insumos de manera que estén listos a iniciar la etapa de producción, la cual comienza al ser realizada una solicitud por parte de nuestros clientes, generando las órdenes de producción.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Una visión en el detalle que define la belleza en calzado para dama.</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/manufactura-2.jpg" alt="" class="">
			</div>
			<div class="item item-text-wrap">
				<p>Con la recepción de las órdenes de producción, nuestros operarios inician el proceso de corte de acuerdo a los requerimientos establecidos en la orden, se cortan las piezas de capellada y los forros. A éstas piezas, le realizamos un proceso de control, donde se nivelan los espesores a través de un proceso de desbastado, disminuyendo el calibre y dando suavidad a la pieza, lo que además facilita el proceso de guarnición.</p>
				<br>
				<p>En otra parte del proceso, mediante una máquina troqueladora, efectuamos el coerte mecánico de suelas, plantillas y componentes de confort que se adicionamos a la plantilla estructural.</p>
				<br>
				<p>Seleccionamos la horma de acuerdo al modelo solicitado y las tallas de cada par, fijamos la plantilla estructural a la horma y procedemos a montar la capellada, para esto se requieren de 12 horas de secado, para luego llevarlas a un horno caliente y otro frío. <br>
				Preparamos los tacones, suelas y plantas para cada par referenciando la talla y la fecha de producción con una máquina repujadora de calor, forramos los tacones y plantas según orden de producción.</p>
			</div>
			<div class="item item-image">
				<img src="img/manufactura-3.jpg" alt="" class="">
			</div>
			<div class="item item-text-wrap">
				<p>Cada pieza es hiladillada para dar refuerzo, la doblamos, forramos y unimos con adhesivos a base de agua o látex, según corresponda, para luego ser cosidas en máquinas planas, lo que garantiza la adhesión del forro y la durabilidad, a esta pieza se le conoce como capellada.</p>
				<br>
				<p>Las suelas son prefabricadas, ya están listas, las marcamos sobre la plantilla estructural, realizamos un proceso de cardado, sobre la sección de la suela que se ha de pegar al corte, lo que nos garantiza la mejor impregnación del pegamento. En las sandalias, hacemos unas hendiduras a la plantilla estructural, se les conoce como cajuelas, para incorporar las tiras disimulando sus marcas en la suela, luego pagamos la suela.</p>
				<br>
				<p>Realizamos el ensamble y pegue de la capellada y plantilla estructural a la suela, luego sujetamos los tacones o plantas con tornillos y pegantes a través de un proceso denominado cimentado, Para pegar la suela se somete al zapato montado en la horma a una alta presión de aire durante 30 segundos, esto en una máquina llamada pegadora. Se desmonta la horma de cada zapato para que este quede totalmente estructurado.</p>
			</div>
			<div class="item item-image">
				<img src="img/manufactura-4.jpg" alt="" class="">
			</div>
			<div class="item item-text-wrap">
				<p>Alistamos las plantillas de cada orden, se repuja calor la marca y la composición del producto y ubicamos la plantilla de confort final, procediendo a pagarla con adhesivo acuoso o de látex.</p>
				<br>
				<p>Cada par de zapato lo revisamos para identificar detalles como hilos, restos de pegamento o rayones que puedan ser reparados, hacemos un proceso de limpieza final y empacamos cada zapato en su bolsa de protección individual.</p>
				<br>
				<p>En el empaque imprimimos el código de barras con la información de cada par de zapatos, para identificar la caja individual y guardarla en cajas de cartón, luego se ser empacado ubicamos la serie de calzado de acuerdo a la orden de producción en la bodega de producto terminado.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/manufactura-5.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				MATERIALES <span class="energized">SOSTENIBLES</span>
			</div>
			<div class="item item-text-wrap">
				<p>
					<i><b>Una visión en el detalle que define la belleza en calzado para dama.Nos preocupa el desarrollo sostenible global.</b></i>
				</p>
			</div>
			<div class="item item-text-wrap">
				<p>Fabricamos zapatos con un 70% de adhesivos a base de agua y disolventes naturales. Procuramos que nuestros materiales sean de baja emisión de carbono y controlamos todo el sistema de manufactura para generar un producto amigable con el medio ambiente.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/manufactura-6.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				MANUFACTURA <span class="energized">TECNIFICADA</span>
			</div>
			<div class="item item-text-wrap">
				<p>
					<i><b>Calzado fabricado con altos estándares de calidad.</b></i>
				</p>
			</div>
			<div class="item item-text-wrap">
				<p>Nuestros artesanos están preparados para fabricar calzado de excelente calidad; nos capacitamos constantemente en los diferentes procesos de manufactura que hacen parte de la producción del zapato, manteniéndonos a la vanguardia en técnicas y tecnología.</p>
			</div>
		</div>
	</ion-content>
</ion-view>