<ion-view view-title="Tradición" id="tradicionmandarina">
	<ion-content class="has-footer has-subfooter">
		<div class="card">
			<div class="item">
				<h2 class="title item-text-wrap">Tradición <span class="energized">Mandarina</span></h2>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Una historia sobre tradición, pasión e innovación en calzado.</b></i>
				</p>
			</div>
		</div>

		<div class="card">

			<div class="item item-image">
				<img src="img/tradicion-1.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				LA SEMILLA
			</div>
			<div class="item item-text-wrap">
				<p>En 1.987 nace la empresa familiar Belali Sport, fruto de la labor realizada por sus propietarios el Señor GUILLERMO MONTOYA CORREA quien contaba con experiencia en ventas de calzado de su anterior trabajo como vendedor de la marca Grulla y la Sra. BEATRIZ ARDILA quien tenía la experiencia en producción de calzado por formación empirica dentro de su nucleo familiar. En sus inicios, hace 30 años, contaban con un patrimonio cercano a los quinientos mil pesos ($500.000.oo), suma de la que disponian como capital de trabajao para emprender este nuevo reto como empresarios.</p>

				<p>El proyecto inicia con la producción y comercialización de calzado en lona para dama. Tienen una buena aceptación en el mercado local, las ventas crecen exponencialmente, y la marca Belali empieza a hacer precencia en el mercado nacional para los años 90. Transcurridos 12 años de posicionamiento y aprendizaje, tras haber diversificado su oferta con sandalia para dama y niñas, para 1999, se toma la decición de cambiar el nombre de la empresa para crear una marca de mayor recordación, de allí nace la razón social Fábrica de Calzado Mandarina, cuya marca comercial registrada sería Mandarina.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/tradicion-2.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				LA SIEMBRA
			</div>
			<div class="item item-text-wrap">
				<p>
					<i><b>Mandarina nace de la busqueda de una marca mas sencilla, comercial, sonora y moderna que facilitara la recordación de los clientes, el posicionamiento del mercado y el manejo de publicidad.</b></i>
				</p>
			</div>
			<div class="item item-text-wrap">
				<p>Con la creación de esta nueva marca se realizá el registro de la marca para las clases 25 y 35.</p>

				<p>El calzado es algo más que un objeto, refleja nuestro estado de ánimo, son una prenda importante para lucir la ropa del día, la que contamos para encarar bien el día, ya sea en el trabajo, en una fiesta o en una cita romántica con nuestro chico, necesitamos sentirnos bien con nosotros mismos.</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<i><b>Mandarina, rapidamente se canalizó a través de clientes a nivel nacional apoyados en el reconocimiento alcanzado a través de la marca Belali Sport, lo cual facilito la penetración del producto al mercado nacional.</b></i>
				</p>
			</div>
		</div>

		<div class="card">
			<div class="item item-image">
				<img src="img/tradicion-3.jpg" alt="" class="">
			</div>
			<div class="item item-divider">
				LA COSECHA
			</div>
			<div class="item item-text-wrap">
				<p>A través de la experiencia Calzado Mandarina ha madurado, alcanzado para 2016 niveles de productividad cercanos a 6.000 pares mensuales, soportado en un recurso humano de 33 empleados y un patrimonio que supera los cuatrocientos millones de pesos ($400’000.000=).</p>

				<p>Actualmente la empresa esta dedicada a la Fabricación y Comercialización de Calzado para Dama, elaborado con materias primas de excelente calidad, lo cual permite garantizar el producto que ofrece. A través de la constante innovación en diseños y materiales buscan siempre estar a la vanguardia de la moda para así poder cumplir con las exigencias de los consumidores.</p>
			</div>
		</div>

	</ion-content>
</ion-view>